@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");

:root {
  --text-color: rgb(96, 140, 241);
  --light-color: rgb(171, 234, 246);
  --dark-color: rgb(110, 112, 100);
  --navbar-color: #333;
  --background-color: rgb(23, 36, 31);
}

* {
  box-sizing: border-box;
  font-family: "Dosis", Impact;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: var(--navbar-color);
  height: 150px;
}

.topnav > div {
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}

.reload {
  float: left;
  background-color: var(--light-color);
  border-radius: 5px;
  transition-duration: 0.3s;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 45px 25px;
}

.reload img {
  width: 40px;
  height: 40px;
}

.reload:hover {
  background-color: var(--text-color);
  color: var(--dark-color);
  box-shadow: 0 0 1vh 0.2vh rgba(0, 0, 0, 0.4);
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.header {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px !important;
}

.active-player {
  float: right;
  padding: 60px 25px;
}

@media screen and (max-width: 1605px) {
  .header {
    font-size: 6vw !important;
  }
}

@media screen and (max-width: 1000px) {
  .active-player {
    font-size: 2.2vw !important;
  }
  .reload {
    height: 6vw;
    width: 6vw;
    padding: 1vw;
  }
  .reload img {
    height: 4vw;
    width: 4vw;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 20vmin);
  grid-template-rows: repeat(3, 20vmin);
  gap: 2vmin;

  background-color: var(--light-color);
  border-radius: 5px;
  padding: 2vmin;
  margin: 5vmin;
}

.board > div {
  text-align: center;
  font-size: 15vmin;

  background-color: var(--dark-color);
  border-radius: 5px;
  transition-duration: 0.3s;
}

.board > div:hover {
  background-color: var(--text-color);
  color: var(--dark-color);
  box-shadow: 0 0 1vh 0.2vh rgba(0, 0, 0, 0.4);
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.game-over-display {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 15vh;
  left: 0;
  font-size: 25vh;
  text-align: center;
  padding: 20vh;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  transition: background-color 1s, color 1s;
}