*{
    border-collapse: collapse;
    margin: 0;
}
:root{
    --winning-blocks: :black;
}
body{
    text-align: center;
}
.container > div {
    background-color: lightblue;
    padding: 25px;
}
.container > div:hover {
    background-color: lightgray;
    padding: 25px;
}
.container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.gameReset{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    font-size: 18px;
}